body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
header {
    height: 50px;
}
header div a {
    position: absolute;
    right: 10;
}
div {
    display: flex;
    flex: 1;
}
main {
    flex: 1;
}
nav {
    width: 100px;
}
footer {
    height: 50px;
}
